<footer class="p-4 bg-white md:p-8 lg:p-10">
  <div class="mx-auto max-w-screen-xl text-center">
    <a routerLink="/" class="flex justify-center items-center mb-4">
      <img src="/logo-renthub.png" alt="RentHub" class="h-32" />
    </a>
    <p class="mb-4 text-gray-500 max-w-lg mx-auto">
      La tua piattaforma di fiducia per il noleggio di attrezzature professionali e fai-da-te.
      Risparmia, condividi e realizza i tuoi progetti con RentHub.
    </p>
    <span class="text-sm text-gray-500 sm:text-center">© 2025 <a routerLink="/" class="hover:underline">RentHub™</a>.
      Tutti i diritti riservati.
    </span>
  </div>
</footer>